{% extends 'layouts/photo_layout.html' %}
{%block content%}


<div class="container">
    <h2>Add New Memory</h2>
    <form id="memoryForm">
        <div class="form-group">
            <label for="title">Memory Title</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="longitude"disabled>Location (Click to map to choose location) </label>
            <div id="map"></div>
            <div id="location" style="display: flex">
                <div class="location-item" style="margin-right: 10px">
                    <label for="longitude">Longitude
                    </label>
                    <input type="text" id="longitude" name="longitude" disabled required>
                </div>
                <div class="location-item" style="margin-left: 10px">
                    <label for="latitude">Latitude</label>
                    <input type="text" id="latitude" name="latitude" disabled required> 
                </div>
            </div>

        </div>
        <button type="submit">Add Memory</button>
    </form>
  </div>



  <script>
    document.getElementById('memoryForm').addEventListener('submit', function(event) {
      event.preventDefault();
      
      const formData = {
        title: document.getElementById('title').value,
        description: document.getElementById('description').value,
        date: document.getElementById('date').value,
        longitude: document.getElementById('longitude').value,
        latitude: document.getElementById('latitude').value
      };
      console.log(formData)
  
      fetch('', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
        alert('Memory added successfully!');
        // Optionally, you can reset the form here
        window.location.href = '/';
        document.getElementById('memoryForm').reset();

      })
      .catch((error) => {
        console.error('Error:', error);
        alert('Failed to add memory. Please try again.');
      });
    });
  </script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
  <script>
      // Initialize the map
      var map = new ol.Map({
          target: 'map',
          layers: [
              new ol.layer.Tile({
                  source: new ol.source.OSM()
              })
          ],
          view: new ol.View({
              center: ol.proj.fromLonLat([-74.0060, 40.7128]), // New York City coordinates
              zoom: 13
          })
      });
      map.on('click', function(event) {
        var coordinate = event.coordinate;
        var coordinateValue = ol.proj.toLonLat(coordinate);
        var lng = coordinateValue[0];
        var lat = coordinateValue[1];
        var latInput = document.getElementById('latitude')
        var lngInput = document.getElementById('longitude')
        latInput.value = lat
        lngInput.value = lng
        // Here you can use the coordinates as needed
        console.log('longitude:', lng, 'latitude:', lat);
    });
  </script>
{%endblock%}