{% extends 'layouts/photo_layout.html' %}
{% block content %}
{% if user.is_authenticated %}
    <div style="display: inline-block;">
        <h1>Welcome, {{ user.username }}</h1>
    </div>
    <div style="display: inline-block;">
        <a href="{% url 'account_logout' %}">Add memory</a>
    </div>
    {% comment %} <img src="{{ user.socialaccount_set.first().get_avatar_url }}" alt="{{ user.username }}"> {% endcomment %}
    <h2>Your Memories</h2>
    <ul class="memory-grid">
        {% for memory in memories %}
            <li class="memory-item">
                <h3>{{ memory.title }}</h3>
                <p>{{ memory.created_at }}</p>
                <!-- Add other fields as needed -->
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            <span class="current">
                Page {{ memories.number }} of {{ memories.paginator.num_pages }}.
            </span>

            {% if memories.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ memories.previous_page_number }}">previous</a>
            {% endif %}


            {% if memories.has_next %}
                <a href="?page={{ memories.next_page_number }}">next</a>
                <a href="?page={{ memories.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    

{% endif %}
{% endblock %} 